#product_image
  %a(href="/charcoal_basket")
    = img 'basket1.jpg'
#product_info
  %h2 Basket, Charcoal for 16" Classic
  %h4 $49.95

  %p
    Made from 10 gauge 3/4" expanded metal
  %p
    Dimensions:
    10" X 10" X 10"
  %a{href: '/order'}
    Order