%h1{style: 'margin: 0px;'} Charcoal Basket
%a{href: "/charcoal_basket"}
  = img 'basket1.jpg'
%p A charcoal basket is a metal basket for holding charcoal and wood.  It goes in the fire box of an offset smoker.
%h2 What is it good for
%ul
  %li Provides better airflow by allowing ash to fall away from charcoal and wood while barbequing.
  %li Better airflow allows for consistent temperature to be maintained.