!!!
%html
  %head
    %title Custom Charcoal Baskets
    %link(rel="stylesheet" href="css/styles.css") 
  %body
    #wrapper
      #header
        #title_container
          %h1#title_style Custom Charcoal Baskets
          %h4{style: 'margin: 0px;'} Helps maintain consistent temperature for low and slow cooking
        #nav
          %ol
            %li
              %a(href='/') Home
      #content
        = yield
      #sidebar
      #footer